@page "/posts/detail/{postId}"

@inject IPostRepository PostRepo
@inject NavigationManager NavManager

<h3>Detail</h3>

<h1>@post.Title</h1>

<img src="@post.Thumbnail" />

<h3>@post.Description</h3>

<h5>@post.CreatedAt</h5>

<h5>@post.PublishedAt</h5>

<h5>@post.Slug</h5>

<h5>@post.CategoryId</h5>

<p>
    @((MarkupString)post.Content)
</p>

<button class="btn btn-secondary" @onclick="OnReturn">Back</button>

@code {
    [Parameter]
    public string postId { get; set; }

    private PostDto post = new();

    protected override async Task OnInitializedAsync()
    {
        post = await PostRepo.GetByIdAsync(EndPoint.PostEnpoint, Convert.ToInt32(postId));
    }

    private void OnReturn()
    {
        NavManager.NavigateTo("/posts");
    }
}
